* {
	margin: 0;
	outline: none;
}
html {
	margin: 0 !important;
}
body {
	overflow: hidden;
	background-image: url('../images/bg.png');
	background-repeat: repeat;
	font-family: "Verdana", sans-serif;
}
#db-switcher {
	background-color: #363636;
	border-bottom: 1px solid #353535;
	height: 59px;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
#frame-area {
	margin: 0 auto;
	padding-top: 60px;
	display: block;
	position: fixed;
    border: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#branding{
	float: left;
	padding: 5px;
}
#branding img{
	max-width: 50px;
}
#responsive{
	display: inline-block;
}
#responsive a{
	color: #FFF;
	margin-right: 5px;
	padding: 2px;
}
#responsive a.current{
	color: #ff0000;
}
#buttons{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
/* Dropdown */
#dropdown {
	padding: 10px;
	width: 266px;
	position: relative;
	cursor: pointer;
	background: #2b2b2b;
	color: #dfdfdf;
	display: inline-block;
	margin-left: 40px;
	margin-top: 10px;
}

#dropdown ul {
	position: absolute;
	top: 100%;
	width: 266px;
	padding: 5px 0px;
	display: none;
	background: #2b2b2b;
	list-style-type: none;
}
#dropdown ul li { font-size: 0.9em; }

#dropdown ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 7px 15px;
}
#dropdown ul li a:hover {
	background: #414141;
}
.btn-download {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
	margin-right: 20px;
}
.btn-download:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.btn-download:active {
	position:relative;
	top:1px;
}

.btn-close{
	color: #ffffff;
	border: 1px #AAA solid;
	text-decoration: none;
	padding: 3px 6px;
	background-color: #666;
}
.btn-close:hover{
	border-color: #FFF;
}
