* {
	margin: 0;
}
html {
	margin: 0 !important;
}
body {
	overflow: hidden;
	background-image: url("../images/bg.png");
	background-repeat: repeat;
}
#db-switcher {
	background-color: #666;
	border-bottom: 1px solid #353535;
	height: 59px;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
#frame-area {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	padding-top: 60px;
	height: 100%;
}
#buttons{
	float: right;
}
/* Dropdown */
#dropdown {
	padding: 13px 16px;
	width: 266px;
	position: relative;
	cursor: pointer;
	background: #fff;
	color: #656565;
	display: inline-block;
}
#dropdown:hover {
	color: #898989;
}

#dropdown ul {
	position: absolute;
	top: 100%;
	width: 266px;
	padding: 5px 0px;
	display: none;
	background: #fff;
	list-style-type: none;
}
#dropdown ul li { font-size: 0.9em; }

#dropdown ul li a {
	text-decoration: none;
	display: block;
	color: #447dd3;
	padding: 7px 15px;
}
#dropdown ul li a:hover {
	color: #6fa0e9;
	background: #e7f0f7;
}
